@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

* {
    transition: all 1s ease-in-out;
}

:root {
    --primary: #cc0000;
    --accent: black;
    --background: #f8f8ff;
}

html, body {
    @apply overflow-x-hidden scroll-smooth;
}

main {
    @apply flex flex-col min-h-screen gap-5 grow container mx-auto;
    background-color: var(--background);
    color: var(--accent);
}

.navigation-bar {
    @apply p-5 shadow-lg;
    background-color: var(--primary);
}

.navbar-brand {
    @apply capitalize 2xl:text-2xl;
    color: var(--background);
}

.navbar-link {
    @apply capitalize;
}

.navbar-link.not-active {
    color: var(--background);
}

.navbar-link.active {
    @apply underline font-bold underline-offset-4;
    color: var(--background);
}

.burger-button {
    color: var(--background);
}

input[type="text"] {
    @apply p-3 rounded-lg shadow-lg border-2;
    border-color: var(--accent);
}

.search-pokemon-form input[type="text"]::placeholder {
    @apply capitalize;
}

.search-form-box {
    @apply flex flex-col min-h-screen justify-start align-middle 2xl:p-5 p-0;
}

.search-pokemon-form {
    @apply flex 2xl:flex-row flex-col sm:flex-row md:flex-row lg:flex-row justify-center align-middle 2xl:gap-5 gap-4 2xl:p-0 p-8;
}

.search-pokemon-button-box {
    @apply flex flex-row justify-center items-center;
}

button {
    @apply cursor-pointer uppercase text-center tracking-wide px-5 py-2.5;
    background-color: var(--primary);
}

.search-pokemon-form input[type="text"] {
    @apply 2xl:w-80 sm:w-80 md:w-80 lg:w-80;
}

.search-pokemon-button {
    @apply 2xl:w-fit w-36;
}

.pokemon-output {
    @apply absolute w-full flex justify-center 2xl:top-48 sm:top-56 md:top-52 top-66 left-0;
}

.pokemon-image-box {
    @apply p-3 cursor-pointer rounded-lg shadow-lg;
    background-color: var(--primary);
}

.pokemon-image {
    @apply object-cover w-64 cursor-pointer;
    transition: all 0.52s ease-out;
}

.pokemon-image:hover {
    transform: scale(1.1);
}

.pokemon-buttons-card-box {
    @apply flex justify-end w-full cursor-default;
}

.modal {
    @apply fixed inset-0 z-50 flex items-center justify-center;
    background-color: var(--accent);
}

.inner-modal {
    @apply rounded-xl shadow-lg overflow-y-auto 2xl:w-2/3 sm:w-2/3 2xl:h-fit lg:h-fit sm:h-full md:h-full flex flex-col justify-center items-center p-3;
}

.modal-header {
    @apply w-full flex justify-between items-center;
}

.pokemon-modal-title {
    @apply capitalize;
    color: var(--background);
}

.pokemon-modal-image {
    @apply 2xl:w-64 w-44 object-cover;
}

.pokemon-modal-close-button {
    @apply text-2xl p-2;
    background-color: transparent;
    color: var(--background);
}

.pokemon-modal-list {
    @apply flex flex-col gap-3 w-full mt-8;
}

.pokemon-modal-list-item {
    @apply flex gap-3;
    color: var(--background);
}

.close-pokemon-card-button {
    @apply w-fit text-4xl p-0;
    color: var(--background);
    background-color: transparent;
}

#pokemonCardGrid, #pokemonDetails {
    @apply flex flex-col items-center p-5;
}

.pokemon-loading-error-message {
    color: var(--primary);
    @apply text-center capitalize font-bold;
}

.loading-spinner-box {
    @apply flex justify-center p-3;
}

.pokemon-grid {
    @apply flex flex-wrap 2xl:gap-8 gap-5 2xl:justify-start justify-center items-center p-5;
}

.pokemon-card-grid {
    @apply 2xl:w-80 lg:w-80 sm:w-64 md:w-72 w-full 2xl:h-80 lg:h-80 h-80 sm:h-64 md:h-72 cursor-pointer border-0 object-cover p-3 rounded-lg shadow-lg flex flex-col items-center gap-3;
}

.pokemon-card-name {
    @apply text-center capitalize;
    color: var(--background);
}

.pokemon-card-image {
    @apply w-52 sm:w-44 md:w-52 object-cover cursor-pointer;
    transition: all 0.5s ease-out;
}

.pokemon-card-image:hover {
    transform: scale(1.23);
}

#pokemonDetails h1 {
    color: var(--background);
    @apply 2xl:text-start lg:text-start md:text-start sm:text-start text-center capitalize 2xl:text-4xl text-2xl w-full;
}

.pokemon-details-info {
    @apply flex 2xl:flex-row lg:flex-row md:flex-row sm:flex-row flex-col 2xl:justify-between lg:justify-between md:justify-between sm:justify-between justify-center 2xl:gap-0 gap-3 w-full items-start mt-3 p-5;
}

.pokemon-image-details-box {
    @apply flex flex-col justify-start sm:items-start md:items-start items-center 2xl:w-fit w-full;
}

.pokemon-image-details-box img {
    @apply w-60 object-cover cursor-pointer;
    transition: all 0.5s ease-out;
}

.pokemon-image-details-box img:hover {
    transform: scale(1.1);
}

.pokemon-info-box, .pokemon-image-details-box {
    @apply p-5 flex flex-col gap-3 border-4 rounded-lg;
    color: var(--background);
    border-color: var(--background);
}

.pokemon-info-box p {
    @apply 2xl:text-start lg:text-start sm:text-start md:text-start text-center capitalize;
}